# Deployment/Hardhat
PRIVATE_KEY=your_wallet_private_key
ETH_RPC_URL=https://rpc.testnet.monad.xyz
ETHERSCAN_API_KEY=your_etherscan_api_key

# Frontend
REACT_APP_CONTRACT_ADDRESS=your_deployed_contract_address
REACT_APP_NETWORK_ID=10143
